@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=DotGothic16&display=swap');

@import url("./CommonStyles.css");
@font-face {
  font-family: "Game of Thrones";
  src: url("../../media/Game\ of\ Thrones.ttf") format("truetype");
}

.App {
  text-align: center;
  background-image: url('../../media/wood_1.png');
  height: 100%;
  color: hsl(0, 0%, 100%);
}
.start-page{
  height: inherit;
}
.layout-col {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-evenly;
}

.App-header {
  font-family: "Game of Thrones" !important;
  
  font-size: 9vmin;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}


.fire {
  background-position: center center;
  vertical-align: middle;
  margin-top: 5vmin;
}

.fire:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.Blazing {
  display: inline-block;
  margin: 0;
  color: rgb(70, 61, 54);
  text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange, 4px -5px 6px yellow, -4px -10px 10px yellow, 0 -10px 30px yellow;
  animation: 2s Blazing infinite alternate linear;
 
}

.Start-game-btn{
  font-size: 10vmin;
  letter-spacing: 1vmin;
  background:transparent;
  border:none;
  transition: all 1s ease-in;
  transform: scale(1);
  font-family: 'Carrois Gothic', sans-serif;
}

.Start-game-btn:active{
  
  transform: scale(1.5) perspective(1px)
}

@keyframes Blazing {
  0% {
    text-shadow: 0 1px 5px red, 0 0 30px red, 0 0 10px orange, 0 0 0 yellow, 0 0 5px yellow, -2px -5px 5px yellow, 4px -10px 10px yellow;
  }
  25% {
    text-shadow: 0 3px 10px red, 0 0 30px red, 0 0 12px orange, 0 0 5px yellow, -2px -5px 5px yellow, 3px -10px 10px yellow, -4px -10px 10px yellow;
  }
  50% {
    text-shadow: 0 3px 10px red, 0 0 20px red, 0 -5px 10px orange, -2px -5px 5px yellow, 3px -6px 10px yellow, -4px -6px 20px yellow, 2px -6px 10px rgba(255, 255, 0, 0.5);
  }
  75% {
    text-shadow: 0 3px 10px red, 0 0 20px red, 0 -5px 10px orange, 3px -5px 5px yellow, -2px -5px 10px yellow, 2px -5px 10px rgba(255, 255, 0, 0.5), 0px -10px 40px rgba(255, 255, 0, 0)
  }
  100% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange, 0 0 0 yellow, 0 0 5px yellow, -2px -5px 5px yellow, 4px -10px 10px yellow;
  }
}


@media only screen and (min-width : 320px) {

}


@media only screen and (min-width : 480px) {



}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  .App-header{
    font-size: 10vmin;
  }
  .Instruction{
    margin: 2.5vmin 0;
  }
  .Start-game-btn{
    font-size: 7vmin;
  }

}